
  

    <div class="login-box"  >
      <h1>Login</h1>
      <div class="textbox">
        <i class="fas fa-user"></i>
        <input type="text" [(ngModel)]="loginUserData.email" name="email" placeholder="Username">
      </div>
    
      <div class="textbox">
        <i class="fas fa-lock"></i>
        <input type="password" [(ngModel)]="loginUserData.password" name="password" placeholder="Password">
      </div>
      <label class="checkbox">
        <input type="checkbox" name="checked"> <a href="#">Remember me</a>  &nbsp; &nbsp; <a href="#">Forgot Password?</a>
      </label>
    
      <input type="button" (click)="loginUser()" class="btn" value="login ">

      <div class="sign-up"> <h2>or</h2> </div>
      
      <a href="#" class="fa fa-facebook">  facebook</a> &nbsp; &nbsp; <a href="#" class="fa fa-twitter">  twitter</a>
        <p>© 2019 Vipul Login Form</p>

    </div>
  

